* { box-sizing: border-box;
}
header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
ol {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 22px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border-radius: 10px;
}
input[type="radio"] {
    display: none;
}
input + img {
    border: solid 5px transparent;
}
input:checked + img {
    border: solid 5px rgb(255, 174, 0);
}
.throws {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
label {
    margin: 11px;
}
button {
    width: 109px;
    height: 109px;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(0, 69, 101);
    border-radius: 11px;
    border: 4px;
    border-style: solid;
    margin: 11px;
}
.results {
    color: rgb(0, 69, 101);
    margin-top: 22px;
}
button:hover {
    cursor: pointer;
    border-color: rgb(255, 174, 0);
}
.select-it {
    color: rgb(0, 69, 101);
    font-size: 1.6rem;
}